{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block Head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/crm/edit_card.css' %}">
{% endblock Head %}
{% block Body %}
    <div style="margin-top: 30px;" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
                <div class="card text-center shadow">
                    <div class="card-header bg-success text-white">
                        <h5>Edit Card</h5>
                    </div>
                    <div class="card-body">
                        <form method="post"
                              enctype="multipart/form-data"
                              action="{% url 'crm:edit_card' actual_card.id %}">
                            {% csrf_token %}
                            <div class="form-group">{{ form|crispy }}</div>
                            <!-- Photos Section -->
                            <button class="btn btn-save mt-4"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#photosSection"
                                    aria-expanded="false"
                                    aria-controls="photosSection">Photos</button>
                            <div class="collapse mt-3" id="photosSection">
                                <div class="form-group">
                                    {{ photos_formset.management_form }}
                                    {% for photo_form in photos_formset %}<div class="mb-3">{{ photo_form.as_p }}</div>{% endfor %}
                                </div>
                            </div>
                            <!-- Comments Section -->
                            <button class="btn btn-save mt-4"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#commentsSection"
                                    aria-expanded="false"
                                    aria-controls="commentsSection">Comments</button>
                            <div class="collapse mt-3" id="commentsSection">
                                <div class="form-group">
                                    {{ comments_formset.management_form }}
                                    {% for comment_form in comments_formset %}
                                        <div class="card mb-3">
                                            <div class="card-body">{{ comment_form.as_p }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Buttons Section -->
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-success" type="submit">Save</button>
                                <a class="btn btn-danger ml-3"
                                   href="{% url 'crm:delete_card' actual_card.id %}">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}
