{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block Body %}
    <div style="margin: auto" class="col-md-4 mb-4">
        <div class="card text-center">
            <h5 style=" margin-top: 20px; margin-bottom: 20px;">New card</h5>
            <div class="card-body">
                <form enctype="multipart/form-data"
                      method="post"
                      action="{% url 'crm:new_card' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <h2>Photos</h2>
                    {{ photos_formset.management_form }}
                    {% for form in photos_formset %}{{ form.as_p }}{% endfor %}
                    {{ comments_formset.management_form }}
                    {% for form in comments_formset %}{{ form.as_p }}{% endfor %}
                    <button class="btn btn-primary" type="submit">New card</button>
                    <a style="color: white" class="btn btn-info" href="{% url 'crm:crm' %}">Back</a>
                </form>
            </div>
        </div>
    </div>
{% endblock Body %}
