{% extends "base.html" %}
{% block Head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock Head %}
{% block Body %}
    <h2 style="text-align: center">About us</h2>
    <div style="margin: auto" class="col-md-4 mb-4">
        <div class="card text-center">
            <div class="card-body">
                <p>
                    Paws & Claws Volunteers is a dedicated non-profit organization committed
                    to the welfare and protection of animals. Our mission is to provide a safe
                    haven for abandoned, abused, and homeless animals while promoting responsible
                    pet ownership and animal rights. With a network of passionate volunteers, we
                    offer rescue services, foster care, and adoption programs to ensure every animal
                    finds a loving home.
                </p>
                <p>
                    Our organization conducts various community outreach programs, educational
                    workshops, and fundraising events to raise awareness about animal
                    welfare. We collaborate with local shelters, veterinary clinics,
                    and other animal welfare organizations to maximize our impact. Our
                    team of volunteers is driven by a shared love for animals and a
                    commitment to making a positive difference in their lives.
                </p>
            </div>
        </div>
    </div>
    <div style="margin: auto" class="col-md-4 mb-4">
        <h2 style="text-align: center">Contacts:</h2>
        <div class="card text-center">
            <div class="card-body">
                <p>Telephone: +380 (048) 000 00 00</p>
                <a href="https://t.me/">Telegram</a>
                <a href="https://facebook.com/">Facebook</a>
                <a href="https://instagram.com">Instagram</a>
            </div>
        </div>
    </div>
{% endblock Body %}
