{% extends "base.html" %}

{% block Body %}
    <h2 style="text-align: center">Its a blog! {% if is_staff %}<a href={% url "blog:new_post" %}>New post</a></h2>{% endif %}
    {% for post in posts %}
        <div style="margin: auto" class="col-md-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p style="text-align: left; font-size: 28px">
                                {{ post.title }}
                            </p>
                            <p style="text-align: left; font-size: 14px">
                                {{ post.description }}
                            </p>
                            <h5 style="text-align: right">{{ post.date }}</h5>
                            {% if is_staff %}
                                <a class="btn btn-primary" href="{% url 'blog:edit_post' post.id %}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1"> << </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
                    </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}