{% extends "base.html" %}
{% block Body %}
    <div style="margin: auto" class="col-md-4 mb-4">
        <div class="card text-center">
            <h5 style=" margin-top: 20px; margin-bottom: 20px;">Post deleted.</h5>
            <div class="card-body">
                <a class="btn btn-info"
                   href="{% url 'blog:index' %}"
                   style="color: white">Blog page</a>
                <a class="btn btn-primary" href="{% url 'blog:new_post' %}">New post</a>
            </div>
        </div>
    </div>
{% endblock Body %}
